.box-container {
    position: absolute;
    width: 80%;
    height: 75%;
    outline: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    span:first-of-type {
        position: absolute;
        left: 50%;
        transform: translate3d(-50%, -100%, 0);
    }

    span:nth-of-type(2) {
        position: absolute;
        top: 50%;
        transform: translate3d(-100%, -50%, 0);
    }
}
::ng-deep .menucus{
    background: #191b8fdc !important;
    display: inline-block;
}
::ng-deep .menucusbar{
    background: #c9b71b !important;
}