<div #box class="tableofimagedirections" [style.width.px]="width" [style.height.px]="height"
    [style.transform]="'translate3d('+ left + 'px,' + top + 'px,' + '0px)'"
    [class.active]="status === 1 || status === 2" (mousedown)="setStatus($event, 2)"
    (window:mouseup)="setStatus($event, 0)">
    <div class="resize-action" (mousedown)="setStatus($event, 1)"></div>
    <!--<span>{{width | number:'1.0-0'}}px</span>
    <span>{{height | number:'1.0-0'}}px</span>
    <span>({{left}}, {{top}})</span>-->
    <label class="col-sm-3 col-form-label"
        style="background-color: green; display:inline-block;width: 100%;">{{cardtitle}}</label>
    <div *ngIf="ifdiretionpaging">
        <p-table [value]="ImageDirectionList" appendTo="body" [style]="{'width':'100%','overflow':'auto!important'}"
        [responsive]="true" [rows]="5" [resizableColumns]="true" columnResizeMode="expand" [paginator]="true"
        [rowsPerPageOptions]="[10,15,20,25]">
            <ng-template pTemplate="header">
                <tr style="text-align:left">
                    <th>Id</th>
                    <th>Address</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-imagedirection>
                <tr>
                    <td>{{imagedirection.id}}</td>
                    <td>{{imagedirection.address1}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="!ifdiretionpaging">
        <p-table [value]="ImageDirectionList" appendTo="body" [style]="{'width':'100%','overflow':'auto!important'}">
        <ng-template pTemplate="header">
            <tr style="text-align:left">
                <th>Id</th>
                <th>Address2</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-imagedirection>
            <tr>
                <td>{{imagedirection.id}}</td>
                <td>{{imagedirection.address1}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>