<div class="box-container">
    <!-- <span>1000px</span>
    <span>600px</span> -->
    <tableofcard [width]="widthP" (widthToP)="getWidth($event)" [height]="100" [left]="100" [top]="50"></tableofcard>
    <tableofgroup [width]="320" [height]="220" [left]="410" [top]="-50"></tableofgroup>
    <tableofcard [width]="300" [height]="100" [left]="740" [top]="-270"></tableofcard>
    <tableofcard [width]="widthP" (widthToP)="getWidth($event)" [height]="100" [left]="100" [top]="-50"></tableofcard>
    <tableofgroup [width]="320" [height]="220" [left]="410" [top]="-150"></tableofgroup>
    <tableofcard [width]="300" [height]="100" [left]="740" [top]="-370"></tableofcard>
    <tableofcard [width]="300" [height]="100" [left]="740" [top]="-350"></tableofcard>
  </div>
