<div>
    <h2>Image Paging</h2>
    <input type="checkbox" #ifimagepaging id="ifimagepaging" checked="ifimagepaging"
        (change)="onSaveIfImagePaging(ifimagepaging.checked)">
    <h2>Imagedirection Paging</h2>
    <input type="checkbox" #ifimagedirectionpaging id="ifimagedirectionpaging" checked="ifimagedirectionpaging"
        onchange="onSaveIfImageDirectionPaging(ifimagedirectionpaging.checked)">
    <h2>Imagenote Paging</h2>
    <input type="checkbox" #ifimagenotepaging id="ifimagenotepaging" checked="ifimagenotepaging"
        onchange="onSaveIfImageNotePaging(ifimagenotepaging.checked)">
</div>