<div>
    <h2>Image Paging</h2>
    <input type="checkbox" #ifimagepagingbox id="ifimagepagingbox" [checked]="ifimagepaging"
        (change)="onSaveIfImagePaging(ifimagepagingbox.checked)">
    <h2>Imagedirection Paging</h2>
    <input type="checkbox" #ifimagedirectionpagingbox id="ifimagedirectionpagingbox" [checked]="ifdirectionpaging"
        (change)="onSaveIfImageDirectionPaging(ifimagedirectionpagingbox.checked)">
    <h2>Imagenote Paging</h2>
    <input type="checkbox" #ifimagenotepagingbox id="ifimagenotepagingbox" [checked]="ifnotepaging"
        (change)="onSaveIfImageNotePaging(ifimagenotepagingbox.checked)">
</div>