<div class="container">
  
    <div class="list-container">

        <div class="todo-container column-container">
          <div class="list"
               cdkDropList
               #todoList="cdkDropList"
               [cdkDropListData]="dataSource"
               [cdkDropListConnectedTo]="[doneList]"
               (cdkDropListDropped)="drop($event)">
            <h2>a list</h2>
            <mat-card *ngFor="let todo of dataSource" cdkDrag>
              <mat-card-header>
                <mat-card-title>{{todo.position}}</mat-card-title>
                <mat-card-content>{{todo.name}}</mat-card-content>
                <mat-card-content>{{todo.weight}}</mat-card-content>
                <mat-card-content>{{todo.symbol}}</mat-card-content>
              </mat-card-header>
            </mat-card>
          </div>
        </div>
  
        <div class="done-container column-container">
            <div class="list"
                 cdkDropList
                 #doneList="cdkDropList"
                 [cdkDropListData]="dataSource2"
                 [cdkDropListConnectedTo]="todoList"
                 (cdkDropListDropped)="drop($event)">
              <h2>b list</h2>
              <mat-card *ngFor="let complete of dataSource2" cdkDrag>
                <mat-card-header>
                  <mat-card-title>{{complete.position}}</mat-card-title>
                  <mat-card-content>{{complete.name}}</mat-card-content>
                  <mat-card-content>{{complete.weight}}</mat-card-content>
                  <mat-card-content>{{complete.symbol}}</mat-card-content>
                </mat-card-header>
              </mat-card>
            </div>
          </div>
      
        </div>
      </div>