<div class="container">
    <div class="container column-container">
        <div class="list" cdkDropList #todoList="cdkDropList" [cdkDropListData]="dataSource"
            [cdkDropListConnectedTo]="[doneList]" (cdkDropListDropped)="drop($event)">
            <h1 style="visibility: hidden;">A</h1>
            <mat-card *ngFor="let todo of dataSource" cdkDrag>
                <mat-card-header>
                    <mat-card-title>{{todo.position}}</mat-card-title>
                    <mat-card-content>
                        <app-tableoftickets [width]="widthImage" [height]="heightImage" [left]="leftImage"
                            [top]="topImage"></app-tableoftickets>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </div>
    </div>

    <div class="done-container column-container">
        <div class="list" cdkDropList #doneList="cdkDropList" [cdkDropListData]="dataSource2"
            [cdkDropListConnectedTo]="todoList" (cdkDropListDropped)="drop($event)">
            <h1 style="visibility: hidden;">A</h1>
            <mat-card *ngFor="let complete of dataSource2" cdkDrag>
                <mat-card-header>
                    <mat-card-title>{{complete.position}}</mat-card-title>
                    <mat-card-content>
                        <app-tableoftickets [width]="widthImage" [height]="heightImage" [left]="leftImage"
                            [top]="topImage"></app-tableoftickets>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
    <!-- <div class="done-container column-container">
        <div class="list" cdkDropList #doneList7="cdkDropList" [cdkDropListData]="dataSource7"
            [cdkDropListConnectedTo]="todoList" (cdkDropListDropped)="drop($event)">
            <h1 style="visibility: hidden;">A</h1>
            <mat-card *ngFor="let complete of dataSource7" cdkDrag>
                <mat-card-header>
                    <mat-card-title>{{complete.position}}</mat-card-title>
                    <mat-card-content>
                        <app-tableoftickets [width]="widthImage" [height]="heightImage" [left]="leftImage"
                            [top]="topImage"></app-tableoftickets>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
    <div class="done-container column-container">
        <div class="list" cdkDropList #doneList8="cdkDropList" [cdkDropListData]="dataSource8"
            [cdkDropListConnectedTo]="todoList" (cdkDropListDropped)="drop($event)">
            <h1 style="visibility: hidden;">A</h1>
            <mat-card *ngFor="let complete of dataSource8" cdkDrag>
                <mat-card-header>
                    <mat-card-title>{{complete.position}}</mat-card-title>
                    <mat-card-content>
                        <app-tableoftickets [width]="widthImage" [height]="heightImage" [left]="leftImage"
                            [top]="topImage"></app-tableoftickets>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </div>
    </div> -->
    <div class="todo-container column-container">
        <div class="list" cdkDropList #todoList2="cdkDropList" [cdkDropListData]="dataSource3"
            [cdkDropListConnectedTo]="[doneList2]" (cdkDropListDropped)="drop($event)">
            <h1 style="visibility: hidden;">A</h1>
            <mat-card *ngFor="let complete of dataSource3" cdkDrag>
                <mat-card-header>
                    <mat-card-title>{{complete.position}}</mat-card-title>
                    <mat-card-content>
                        <app-table-of-image [width]="widthImage" [height]="heightImage" [left]="leftImage"
                            [top]="topImage" [ifimagepaging]="ifimagepaging"></app-table-of-image>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </div>
    </div>

    <div class="done-container column-container">
        <div class="list" cdkDropList #doneList2="cdkDropList" [cdkDropListData]="dataSource4"
            [cdkDropListConnectedTo]="[todoList2]" (cdkDropListDropped)="drop($event)">
            <h1 style="visibility: hidden;">A</h1>
            <mat-card *ngFor="let complete of dataSource4" cdkDrag>
                <mat-card-header>
                    <mat-card-title>{{complete.position}}</mat-card-title>
                    <mat-card-content>
                        <app-table-of-image [width]="widthImage" [height]="heightImage" [left]="leftImage"
                            [top]="topImage" [ifimagepaging]="ifimagepaging"></app-table-of-image>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </div>
    </div>

    <div class="todo-container column-container">
        <div class="list" cdkDropList #todoList3="cdkDropList" [cdkDropListData]="dataSource5"
            [cdkDropListConnectedTo]="[doneList3]" (cdkDropListDropped)="drop($event)">
            <h1 style="visibility: hidden;">A</h1>
            <mat-card *ngFor="let todo of dataSource5" cdkDrag>
                <mat-card-header>
                    <mat-card-title>{{todo.position}}</mat-card-title>
                    <mat-card-content>
                        <app-tableofusers [width]="widthImage" [height]="heightImage" [left]="leftImage"
                            [top]="topImage"></app-tableofusers>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </div>
    </div>

    <div class="done-container column-container">
        <div class="list" cdkDropList #doneList3="cdkDropList" [cdkDropListData]="dataSource6"
            [cdkDropListConnectedTo]="todoList3" (cdkDropListDropped)="drop($event)">
            <h1 style="visibility: hidden;">A</h1>
            <mat-card *ngFor="let complete of dataSource6" cdkDrag>
                <mat-card-header>
                    <mat-card-title>{{complete.position}}</mat-card-title>
                    <mat-card-content>
                        <app-tableofusers [width]="widthImage" [height]="heightImage" [left]="leftImage"
                            [top]="topImage"></app-tableofusers>
                    </mat-card-content>
                </mat-card-header>
            </mat-card>
        </div>
    </div>

</div>