table, th, td {
    border: 1px solid black;
}
table {
    width: 100%;
}

td {
    vertical-align: top;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .list-container {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
  
  }
  
  .column-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    background-color: RGBA(255, 255, 255, 0.05);
  }
  