<div cdkDropListGroup>
  <div class="example-container">
    <div cdkDropList [cdkDropListData]="firstColumn" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of firstColumn" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <div cdkDropList [cdkDropListData]="secondColumn" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of secondColumn" cdkDrag>{{item}}</div>
    </div>
  </div>

  <div class="example-container">
    <div cdkDropList [cdkDropListData]="thirdColumn" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of thirdColumn" cdkDrag>{{item}}</div>
      <app-mytable></app-mytable>

    </div>
  </div>
</div>