.tableticket {
    outline: 1px solid #000080 ;
    &.active {
        outline-style: solid;
        background-color: #d8d8fc;
    }
}
tr:nth-child(even) {
    background-color: #d8d8fc;
}
tr:nth-child(odd){
    background-color:#fff8dc;
}

tr:nth-child(even) {
    background-color: #fff1b7;
}