<!-- <p>tables-dashboard2 works!</p> -->

<table id="tables-dashboard2">

      
    <tbody>

      <tr cdkDropListGroup style="width:100%">
        
        
        <td>
          <!-- <div class="example-container"> -->
            <!-- <h2>First Column</h2> -->
            <div
            cdkDropList
            [cdkDropListData]="firstColumn"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <!-- <div class="example-box" 
                *ngFor="let item of firstColumn"  
                (cdkDragStarted)="handleDragStart($event)"
                (click)="handleClick($event)"
                cdkDrag
                style="pointer-events: none">                -->
            <div class="example-box" *ngFor="let item of firstColumn" cdkDrag>  
              <table mat-table   *ngIf="item.dataSource" [dataSource]="item.dataSource" class="mat-elevation-z8"> 
                  
                <!-- <caption class="myTitleCaption" style="pointer-events: auto">
                      <div style="display:table-cell;vertical-align:top;">
                        {{item.tableTitle}}
                      </div>
                      <div cdkDragHandle style="display:table-cell;vertical-align:top;">
                          <button class="btn move" cdkDragHandle>
                          <mat-icon>open_with</mat-icon>
                          </button>
                      </div>
                      <div style="display:table-cell;vertical-align:top;">    
                        <mat-icon id="icon-close-table-title1" (click)="closeMe(item)" style="pointer-events: auto">close</mat-icon>
                      </div>
                </caption> -->



                  <!--<caption class="myTitleCaption" style="pointer-events: auto">{{item.tableTitle}}
                    <mat-toolbar id="toolbar-table-title1">{{item.tableTitle}}
                        <div class="example-handle" cdkDragHandle style="display: inline;">
                            <button class="btn move" cdkDragHandle>
                            <mat-icon>open_with</mat-icon>
                            </button>
                        </div>-->
                        <!-- <mat-toolbar-row id="toolbar-row-table-title1"> -->
                            
                          <!-- <mat-icon id="icon-close-table-title1" (click)="closeMe(item)" style="pointer-events: auto">close</mat-icon> -->
                          <!-- <mat-icon >cancel</mat-icon> -->
                        <!-- </mat-toolbar-row> -->
                      <!-- </mat-toolbar> -->
                  <!-- </caption> -->


                  <caption class="myTitleCaption">{{item.tableTitle}}
                    <!-- <mat-toolbar id="toolbar-table-title1">
                      <mat-toolbar-row id="toolbar-row-table-title1">
                        <mat-icon id="icon-close-table-title1" (click)="closeMe(item)" style="pointer-events: auto">close</mat-icon>
                      </mat-toolbar-row>
                    </mat-toolbar> -->
                  </caption>
                  <!-- <caption class="myFooter1Caption" *ngIf="item.tableFooter1" style="pointer-events: auto">{{item.tableFooter1}}
                    <mat-toolbar-row id="toolbar-row-table-title1">
                      <mat-icon id="icon-close-table-title1" (click)="closeMe(item)" style="pointer-events: auto">close</mat-icon>
                    </mat-toolbar-row>
                  </caption> -->
                 
                  <caption class="myFooter1Caption" *ngIf="item.tableFooter1">{{item.tableFooter1}}
                  </caption>
                  <ng-container *ngFor="let disCol of item.displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
                    <mat-header-cell *matHeaderCellDef >{{disCol}}</mat-header-cell>
                    <!-- <ng-container *ngIf="disCol === 'Backorders'" style="color: aqua;"> -->
                        <mat-cell *matCellDef="let element"> 
                          <a [routerLink]="['subtables', element.id]">
                          {{element[disCol]}}</a></mat-cell>
                    <!-- </ng-container> -->
                    <!-- <ng-container *ngIf="disCol !== 'Backorders'" style="font-weight:400; color:aqua;"> -->
                        <!-- <mat-cell *matCellDef="let element" > {{element[disCol]}}</mat-cell> -->
                    <!-- </ng-container> -->
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="item.displayedColumns" [style.display]="'none'"></tr>
                  <tr mat-row *matRowDef="let row; columns: item.displayedColumns;"></tr>
                  <caption class="myFooter2Caption" *ngIf="item.tableFooter2">{{item.tableFooter2}}</caption>
                </table>
                <!-- <mat-toolbar>
                    <mat-toolbar-row>
                      <mat-icon title="Export as CSV">save_alt</mat-icon>
                      <span class="example-spacer"></span>-->
                      <!-- <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]"></mat-paginator> -->
                    <!-- </mat-toolbar-row>
                  </mat-toolbar> -->
              </div>
            </div>
          <!-- </div> -->
        </td>
      
        
        
        <td>
          <!-- <div class="example-container"> -->
            <!-- <h2>Second Column</h2> -->
            <div
            cdkDropList
            [cdkDropListData]="secondColumn"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of secondColumn" cdkDrag>

              <table mat-table  *ngIf="item.dataSource" [dataSource]="item.dataSource" class="mat-elevation-z8">
                <caption class="myTitleCaption">{{item.tableTitle}}</caption>
                <caption class="myFooter1Caption" *ngIf="item.tableFooter1">{{item.tableFooter1}}</caption>
                <ng-container *ngFor="let disCol of item.displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
                  <mat-header-cell *matHeaderCellDef >{{disCol}}</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element[disCol]}}
                  </mat-cell>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="item.displayedColumns" [style.display]="'none'"></tr>
                <tr mat-row *matRowDef="let row; columns: item.displayedColumns;" ></tr>
                <caption class="myFooter2Caption" *ngIf="item.tableFooter2">{{item.tableFooter2}}</caption>
              </table>

            </div>
          </div>
        </td>
        
        
        
        
        <td>
          <!-- <div class="example-container"> -->
            <!-- <h2>Third Column</h2> -->
            <div
            cdkDropList
            [cdkDropListData]="thirdColumn"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of thirdColumn" cdkDrag>

                    <!-- I can only be dragged using the handle
                  
                    <div class="example-handle" cdkDragHandle>
                      <button class="btn move" cdkDragHandle>
                        <mat-icon>open_with</mat-icon>
                    </button>
                    </div> -->

              <table mat-table  *ngIf="item.dataSource" [dataSource]="item.dataSource" class="mat-elevation-z8">              
                <caption class="myTitleCaption">{{item.tableTitle}}</caption>
                <caption class="myFooter1Caption" *ngIf="item.tableFooter1">{{item.tableFooter1}}</caption>
                <ng-container *ngFor="let disCol of item.displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
                  <mat-header-cell *matHeaderCellDef >{{disCol}}</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element[disCol]}}
                  </mat-cell>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="item.displayedColumns" [style.display]="'none'"></tr>
                <tr mat-row *matRowDef="let row; columns: item.displayedColumns;" ></tr>
                <caption class="myFooter2Caption" *ngIf="item.tableFooter2">{{item.tableFooter2}}</caption>
              </table>
              
            </div>

          </div>
        </td>
        
        
        
        <td style="width: 20px;">
            <!-- <h2>Column to Delete</h2> -->
            <div
            cdkDropList
            [cdkDropListData]="deleteBox"
            class="example-list-to-delete"
            (cdkDropListDropped)="drop($event)">
            <mat-icon class="icon-close-table2">indeterminate_check_box</mat-icon>
            <div class="example-box" *ngFor="let item of deleteBox" cdkDrag style="display: none;">
              <!-- <mat-icon class="icon-close-table2" (click)="closeMe(item)">delete_forever</mat-icon> -->
                <!-- <table mat-table  *ngIf="item.dataSource" [dataSource]="item.dataSource" class="mat-elevation-z8">
                  <caption class="myTitleCaption">{{item.tableTitle}}</caption>
                  <caption class="myFooter1Caption" *ngIf="item.tableFooter1">{{item.tableFooter1}}</caption>
                  <ng-container *ngFor="let disCol of item.displayedColumns; let colIndex = index" matColumnDef="{{disCol}}">
                    <mat-header-cell *matHeaderCellDef >{{disCol}}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element[disCol]}}
                    </mat-cell>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="item.displayedColumns" [style.display]="'none'"></tr>
                  <tr mat-row *matRowDef="let row; columns: item.displayedColumns;" ></tr>
                  <caption class="myFooter2Caption" *ngIf="item.tableFooter2">{{item.tableFooter2}}</caption>
                </table> -->
                
              </div>

            </div> 
        </td>
      </tr>    
        
        
    </tbody>
  </table>